<div class="login-form">
    <div class="alert" role="alert" *ngIf="notif.show" [ngClass]="{'alert-danger': notif.error, 'alert-success': notif.successVal}">
        {{notif.message}}
    </div>

    <h2 class="header">Login Form</h2>
    <form #registerForm="ngForm">
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" placeholder="Enter login" id="login" required [(ngModel)]="login" name="login">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="password" required [(ngModel)]="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid" (click)="doLogin()">
            Submit
        </button>
    </form>
</div>