<div class="register-form">
    <div class="alert" role="alert" *ngIf="notif.show" 
        [ngClass]="{'alert-danger': notif.error, 'alert-success': notif.successVal}">
        {{notif.message}}
    </div>

    <h2 class="header">
        Register in Movie RS
        <a class="btn btn-primary login-register-link" routerLink="/login">
            Login
        </a>
    </h2>
    <form #registerForm="ngForm">
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" placeholder="Enter login" id="login" required [(ngModel)]="login" name="login">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="password" required [(ngModel)]="password" name="password">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Enter name" id="name" required [(ngModel)]="name" name="name">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid" (click)="register()">
            Submit
        </button>
    </form>
</div>