<div class="rs-main-page">
    <h2 class="subtitle">Search movie</h2>
    <div class="search-movies">
        <input type="text" [(ngModel)]="searchPrefix" class="form-control" required>
        <button (click)="searchMovie()" class="btn btn-primary">Submit</button>
    </div>
   
    <div *ngIf="searchDone">
        <div *ngIf="foundMovies">
            <rs-movie-group [movies]="foundMovies"></rs-movie-group>
        </div>

        <div class="alert alert-warning" role="alert" *ngIf="!foundMovies">
            <strong>Sorry!</strong> nothing was found, please try again.
        </div>
    </div>


    <div *ngIf="recommendedMovies != null && recommendedMovies.length != 0" class="section">
        <rs-movie-group [movies]="recommendedMovies" [subtitle]="'Recommended For You'"></rs-movie-group>
    </div>

    <div *ngIf="topRatedMovies != null && topRatedMovies.length != 0" class="section">
        <rs-movie-group [movies]="topRatedMovies" [subtitle]="'Top Rated Movies'"></rs-movie-group>
    </div>

    <div *ngIf="recenteMovies != null && recenteMovies.length != 0" class="section">
        <rs-movie-group [movies]="recenteMovies" [subtitle]="'Recent Releases'"></rs-movie-group>
    </div>
</div>