<div class="rs-main-page">

    <div *ngIf="topRatedMovies != null" class="section">
        <h2 class="subtitle">Recommended For You</h2>
        <div class="top-rated-movies">
            <div *ngFor="let movie of topRatedMovies" class="top-rated-movie">
                <a href="">
                    <img src="{{movie.poster_image_url}}" alt="" class="poster">
                    <p class="movie-title">{{movie.title}}</p>
                </a>
                <p [innerHTML]="movie.average_rating | rsrating" class="rating"></p>
                <p class="movie-genres">{{movie.info}}</p>
            </div>
        </div>
    </div>

    <div *ngIf="topRatedMovies != null" class="section">
        <h2 class="subtitle">Top Rated Movies</h2>
        <div class="top-rated-movies">
            <div *ngFor="let movie of topRatedMovies" class="top-rated-movie">
                <a href="">
                    <img src="{{movie.poster_image_url}}" alt="" class="poster">
                    <p class="movie-title">{{movie.title}}</p>
                </a>
                <p [innerHTML]="movie.average_rating | rsrating" class="rating"></p>
                <p class="movie-genres">{{movie.info}}</p>
            </div>
        </div>
    </div>

    <div *ngIf="topRatedMovies != null" class="section">
        <h2 class="subtitle">Recent Releases</h2>
        <div class="top-rated-movies">
            <div *ngFor="let movie of topRatedMovies" class="top-rated-movie">
                <a href="">
                    <img src="{{movie.poster_image_url}}" alt="" class="poster">
                    <p class="movie-title">{{movie.title}}</p>
                </a>
                <p [innerHTML]="movie.average_rating | rsrating" class="rating"></p>
                <p class="movie-genres">{{movie.info}}</p>
            </div>
        </div>
    </div>



</div>