<div class="one-movie">
    <div *ngIf="movie != null" class="main-movie">
        <img src="{{movie.poster_image_url}}" alt="" class="poster">
        <p class="movie-title">{{movie.title}}</p>
        <p [innerHTML]="movie.average_rating | rating | starsrating" class="rating" title="Average rating: {{movie.average_rating | rating}}"></p>
        <p class="movie-genres">Genre: {{movie.info | info}}</p>

        <div class="rate-movie" *ngIf="!movie.user_rating">
            <br><br><br><br>
            <p>Add your rating:</p>
            <input type="number" name="" id="" min="1" max="5" [(ngModel)]="userMovieRating">
            <button (click)="rateMovie()" class="btn btn-primary">Submit</button>
        </div>

        <div class="rate-movie" *ngIf="movie.user_rating">
            Your rating: {{movie.user_rating}}
        </div>

    </div>

    <div *ngIf="similarMovies != null" class="similar-movies">
        <h2>Similar movies</h2>
        <div class="movie-group">
            <div *ngFor="let movie of similarMovies" class="movie-group-item">
                <a routerLink="/movies/{{movie.id}}">
                    <img src="{{movie.poster_image_url}}" alt="" class="poster">
                    <p class="movie-title">{{movie.title}}</p>
                </a>
                <p [innerHTML]="movie.average_rating | rating | starsrating" class="rating" title="Average rating: {{movie.average_rating | rating}}"></p>
                <p class="movie-genres" title="{{movie.info | info}}">{{movie.info | info}}</p>
            </div>
        </div>
    </div>
</div>