/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

.login-form,.register-form {
    max-width: 700px;
    margin: 100px auto 0;
}

.login-form .header,.register-form .header {
    text-align: center;
    margin: 0 0 30px;
    font-size: 26px;
}


input.ng-valid {
    border: 1px solid green;
}

input.ng-invalid:not(.ng-pristine) {
    border: 1px solid red;
}

.rs-menu {
    padding: 10px 20px;
    background-color: #ffdf96;
}

.rs-menu .btn {
    padding: 4px 20px;
    float: right;
    position: relative;
    bottom: 5px;
    cursor: pointer;
}

