/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

.login-form,.register-form {
    max-width: 700px;
    margin: 100px auto 0;
}

.login-form .header,.register-form .header {
    text-align: center;
    margin: 0 0 30px;
    font-size: 26px;
}

input.ng-valid {
    border: 1px solid green;
}

input.ng-invalid:not(.ng-pristine) {
    border: 1px solid red;
}

.rs-menu {
    padding: 10px 20px;
    background-color: #ffdf96;
}

.rs-menu .btn {
    padding: 4px 20px;
    float: right;
    position: relative;
    bottom: 5px;
    cursor: pointer;
}


.rs-main-page, .one-movie {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 10px;
}

.rs-main-page .section {
    margin-bottom: 50px;
}

.movie-group {
    display: flex;
    justify-content: space-between;
}

.movie-group .movie-group-item {
    width: 18%;
    margin: auto;
}

.movie-group img.poster {
    max-width: 100%;
    height: 280px;
    width: auto;
    margin-bottom: 5px;
}

.movie-group .movie-group-item a {
    font-weight: bold;
    font-style: italic;
    color: black;
}

.movie-group .movie-group-item .movie-title, .movie-group .movie-group-item .movie-genres {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.rating img {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}


.one-movie .main-movie {
    margin-bottom: 50px;
    overflow: hidden;
}


.one-movie .rate-movie input {
    border-radius: 5px;
    padding: 5px;
    text-align: right;
    border: 1px solid #c1c1c1;
}

.main-movie .poster {
    float: left;
    margin-right: 40px;
}

.main-movie .movie-title {
    font-size: 30px;
    font-weight: bold;
}